doctype html
head
  link(rel='stylesheet' href='/styles/lol.css')
  title
.login
  .form
    h1 Login
    form(method='post')
      input(type='text' name='u' placeholder='Username' required='required')
      input(type='password' name='p' placeholder='Password' required='required')
      button.btn.btn-primary.btn-block.btn-large(type='submit') login
